@using Kendo.Mvc.UI
@using HappyRE.Core.Entities
@model HappyRE.Core.Entities.PropertyQuery

@{
    ViewBag.Title = "Quản lý bất động sản";
}
<style>
    .k-widget.k-window {
        top: 25% !important;
    }

    .k-grid table tr td img {
        margin-bottom: 5px;
    }

    
    .k-grid table {
        border-collapse: collapse !important;
    }

</style>

<div class="filter-block">
    @using (Html.BeginForm("Export", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.Kendo().TextBoxFor(x => x.Keyword).HtmlAttributes(new { style = "width:200px", PlaceHolder = "Mã BĐS, địa chỉ.." })
        @Html.Kendo().DatePickerFor(x => x.FromDate).Max(DateTime.Today).HtmlAttributes(new { placeHolder = "Từ ngày", style = "width:120px;" })
        @Html.Kendo().DatePickerFor(x => x.ToDate).Max(DateTime.Today).HtmlAttributes(new { placeHolder = "đến ngày", style = "width:120px;" })
        @(Html.Kendo().ComboBoxFor(x=>x.IsChecked_Filter).HtmlAttributes(new { style = "width:120px;" })
                                .Placeholder("Xác thực..")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                  .BindTo(new List<SelectListItem>() {
                  new SelectListItem() {
                      Text = "Chưa check", Value = "False"
                  },
                  new SelectListItem() {
                      Text = "Đã check", Value = "True"
                  }
              })
        )
        @(Html.Kendo().ComboBoxFor(x => x.TypeId_Filter).HtmlAttributes(new { style = "width:170px;" })
              .Filter("contains")
            .Placeholder("Loại BĐS..")
            .DataTextField("Name")
            .DataValueField("BitMask")
            .Filter(FilterType.Contains)
            .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new { tableId = "PropertyType" }))))
        @*@(Html.Kendo().ComboBoxFor(x => x.ContractId_Filter).HtmlAttributes(new { style = "width:120px;" })
              .Filter("contains")
            .Placeholder("Loại BĐS..")
            .DataTextField("Name")
            .DataValueField("Id")
            .Filter(FilterType.Contains)
            .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new { tableId = "ContractType" }))))*@
        @(Html.Kendo().ComboBoxFor(x => x.StatusId_Filter).HtmlAttributes(new { style = "width:150px;" })
                                  .Filter("contains")
                                .Placeholder("Trạng thái..")
                                .DataTextField("Name")
                                .DataValueField("BitMask")
                                .Filter(FilterType.Contains)
                                .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new { tableId = "PropertyStatusType" }))))
        @*@(Html.Kendo().ComboBoxFor(x => x.LegalId_Filter).HtmlAttributes(new { style = "width:120px;" })
              .Filter("contains")
            .Placeholder("Pháp lý..")
            .DataTextField("Name")
            .DataValueField("Id")
            .Filter(FilterType.Contains)
            .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new { tableId = "PropertyLegalType" }))))*@
        @(Html.Kendo().ComboBoxFor(x => x.UtilityId_Filter).HtmlAttributes(new { style = "width:120px;" })
                              .Filter("contains")
                            .Placeholder("Tiện ích..")
                            .DataTextField("Name")
                            .DataValueField("BitMask")
                            .Filter(FilterType.Contains)
                            .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new { tableId = "PropertyUtilityType" }))))
        @*@(Html.Kendo().ComboBoxFor(x => x.SourceId_Filter).HtmlAttributes(new { style = "width:120px;" })
              .Filter("contains")
            .Placeholder("Nguồn..")
            .DataTextField("Name")
            .DataValueField("Id")
            .Filter(FilterType.Contains)
            .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new { tableId = "PropertySourceType" }))))*@
        @(Html.Kendo().ComboBoxFor(x => x.DirectionId_Filter).HtmlAttributes(new { style = "width:120px;" })
                              .Filter("contains")
                            .Placeholder("Hướng nhà..")
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .Filter(FilterType.Contains)
                            .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new { tableId = "PropertyDirectionType" }))))

        @*@(Html.Kendo().ComboBox().HtmlAttributes(new { style = "width:150px;" })
                              .Name("cmbCity")
                              .Filter("contains")
                            .Placeholder("Tỉnh thành..")
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .Value(Model.CityId.HasValue? Model.CityId.Value.ToString():"")
                            .Filter(FilterType.Contains)
                            .DataSource(source => source.Read(read => read.Action("_Gets", "City"))))
            @(Html.Kendo().ComboBox().HtmlAttributes(new { style = "width:150px;" })
                              .Name("cmbDistrict")
                              .Filter("contains")
                            .Placeholder("Quận huyện..")
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .Value(Model.DistrictId.HasValue ? Model.DistrictId.Value.ToString() : "")
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("_Gets", "District")
                                        .Data("filterDistricts");
                                })
                                .ServerFiltering(true);
                            })
                  .Enable(false)
                  .AutoBind(false)
                  .CascadeFrom("cmbCity"))*@
        @Html.Kendo().NumericTextBoxFor(x => x.PriceFrom).Min(0).Decimals(0).Format("N0").HtmlAttributes(new { style = "width:90px", PlaceHolder = "Giá từ.." })
        @Html.Kendo().NumericTextBoxFor(x => x.PriceTo).Min(0).Decimals(0).Format("N0").HtmlAttributes(new { style = "width:80px", PlaceHolder = "đến.." })
        @(Html.Kendo().ComboBoxFor(x=>x.PriceUnit).HtmlAttributes(new { style = "width:80px;" })
                                .Placeholder("Đơn vị")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                  .BindTo(new List<SelectListItem>() {
                  new SelectListItem() {
                      Text = "tỷ", Value = "1000000000"
                  },
                  new SelectListItem() {
                      Text = "triệu", Value = "1000000"
                  }
              })
        )

        @Html.Kendo().NumericTextBoxFor(x => x.AreaFrom).Min(0).Decimals(0).Format("N0").HtmlAttributes(new { style = "width:90px", PlaceHolder = "Từ (m2).." })
        @Html.Kendo().NumericTextBoxFor(x => x.AreaTo).Min(0).Decimals(0).Format("N0").HtmlAttributes(new { style = "width:90px", PlaceHolder = "đến (m2).." })

        @Html.Kendo().NumericTextBoxFor(x => x.NumOfFloor).Min(0).Decimals(0).Format("N0").HtmlAttributes(new { style = "width:90px", PlaceHolder = "Số tầng.." })
        @Html.Kendo().NumericTextBoxFor(x => x.NumOfBedroom).Min(0).Decimals(0).Format("N0").HtmlAttributes(new { style = "width:90px", PlaceHolder = "Số phòng.." })
        @Html.Kendo().NumericTextBoxFor(x => x.NumOfToilet).Min(0).Decimals(0).Format("N0").HtmlAttributes(new { style = "width:90px", PlaceHolder = "Số toilet.." })

        @Html.Kendo().NumericTextBoxFor(x => x.Width).Min(0).Format("###.#").Decimals(1).HtmlAttributes(new { style = "width:120px", PlaceHolder = "Ngang từ(m).." })
        @Html.Kendo().NumericTextBoxFor(x => x.StreetWidth).Min(0).Format("###.#").Decimals(1).HtmlAttributes(new { style = "width:140px;", PlaceHolder = "Đường rộng từ(m).." })

        @*@(Html.Kendo().ComboBoxFor(x=>x.Price_bw).HtmlAttributes(new { style = "width:110px;" })
                                    .Placeholder("Giá")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "< 1 tỷ", Value = "0-1"
                      },
                      new SelectListItem() {
                          Text = "1 - 2 tỷ", Value = "1-2"
                      },
                      new SelectListItem() {
                          Text = "2 - 3 tỷ", Value = "2-3"
                      },
                      new SelectListItem() {
                         Text = "3 - 5 tỷ", Value = "3-5"
                      },
                      new SelectListItem() {
                         Text = "5 - 7 tỷ", Value = "5-7"
                      },
                      new SelectListItem() {
                         Text = "7 - 10 tỷ", Value = "7-10"
                      },
                      new SelectListItem() {
                         Text = "10 - 15 tỷ", Value = "10-15"
                      },
                      new SelectListItem() {
                         Text = "15 - 20 tỷ", Value = "15-20"
                      },
                      new SelectListItem() {
                         Text = "20 - 30 tỷ", Value = "20-30"
                      },
                      new SelectListItem() {
                         Text = "30 - 50 tỷ", Value = "30-50"
                      },
                      new SelectListItem() {
                         Text = "50 - 70 tỷ", Value = "50-70"
                      },
                      new SelectListItem() {
                         Text = "70 - 100 tỷ", Value = "70-100"
                      },
                      new SelectListItem() {
                         Text = "100 - 150 tỷ", Value = "100-150"
                      },
                      new SelectListItem() {
                         Text = "150 - 250 tỷ", Value = "150-250"
                      },
                      new SelectListItem() {
                         Text = "> 250 tỷ", Value = "250-10000"
                      }
                  })
            )
            @(Html.Kendo().ComboBoxFor(x=>x.Area_bw).HtmlAttributes(new { style = "width:120px;" })
                                    .Placeholder("Diện tích")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "< 30 m2", Value = "0-30"
                      },
                      new SelectListItem() {
                          Text = "30 - 50 m2", Value = "30-50"
                      },
                      new SelectListItem() {
                          Text = "50 - 70 m2", Value = "30-70"
                      },
                      new SelectListItem() {
                          Text = "70 - 100 m2", Value = "70-100"
                      },
                      new SelectListItem() {
                          Text = "100 - 150 m2", Value = "100-150"
                      },
                      new SelectListItem() {
                          Text = "150 - 250 m2", Value = "150-250"
                      },
                      new SelectListItem() {
                          Text = "250 - 500 m2", Value = "250-500"
                      },
                      new SelectListItem() {
                          Text = "500 - 1000 m2", Value = "500-1000"
                      },
                      new SelectListItem() {
                          Text = "1000 - 2000 m2", Value = "1000-2000"
                      },
                      new SelectListItem() {
                          Text = "2000 - 5000 m2", Value = "2000-5000"
                      },
                      new SelectListItem() {
                          Text = "> 5000 m2", Value = "5000 - 1000000000"
                      }
                  })
            )*@

        @*@(Html.Kendo().ComboBoxFor(x=>x.Width_bw).HtmlAttributes(new { style = "width:110px;" })
                                    .Placeholder("Mặt tiền")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "< 3m", Value = "0-3"
                      },
                      new SelectListItem() {
                          Text = "3 - 4m", Value = "3-4"
                      },
                      new SelectListItem() {
                          Text = "4 - 5m", Value = "4-5"
                      },
                      new SelectListItem() {
                          Text = "5 - 6m", Value = "5-6"
                      },
                      new SelectListItem() {
                          Text = "6 - 8m", Value = "6-8"
                      },
                      new SelectListItem() {
                          Text = "8 - 10m", Value = "8-10"
                      },
                      new SelectListItem() {
                          Text = "10 - 15m", Value = "10-15"
                      },
                      new SelectListItem() {
                          Text = "15 - 20m", Value = "15-20"
                      },
                      new SelectListItem() {
                          Text = "20 - 30m", Value = "20-30"
                      },
                      new SelectListItem() {
                          Text = "30 - 50m", Value = "30-50"
                      },
                      new SelectListItem() {
                          Text = "50 - 100m", Value = "50-100"
                      },
                      new SelectListItem() {
                          Text = "100 - 200m", Value = "100-200"
                      },
                      new SelectListItem() {
                          Text = "200 - 500m", Value = "200-500"
                      },
                      new SelectListItem() {
                          Text = "500 - 1000m", Value = "500-1000"
                      },
                      new SelectListItem() {
                          Text = "> 1000m", Value = "1000-1000000000"
                      }
                  })
            )*@

        @*@(Html.Kendo().ComboBoxFor(x=>x.StreetWidth_bw).HtmlAttributes(new { style = "width:110px;" })
                                    .Placeholder("Đường rộng")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "< 3m", Value = "0-3"
                      },
                      new SelectListItem() {
                          Text = "3 - 4m", Value = "3-4"
                      },
                      new SelectListItem() {
                          Text = "4 - 6m", Value = "4-6"
                      },
                      new SelectListItem() {
                          Text = "6 - 8m", Value = "6-8"
                      },
                      new SelectListItem() {
                          Text = "8 - 12m", Value = "8-12"
                      },
                      new SelectListItem() {
                          Text = "12 - 16m", Value = "12-16"
                      },
                      new SelectListItem() {
                          Text = "16 - 24m", Value = "16-24"
                      },
                      new SelectListItem() {
                          Text = "24 - 36m", Value = "24-36"
                      },
                       new SelectListItem() {
                          Text = "> 36m", Value = "36-1000"
                      }
                  })
            )*@

        @*@(Html.Kendo().ComboBoxFor(x=>x.NumOfFloor_bw).HtmlAttributes(new { style = "width:110px;" })
                                    .Placeholder("Số tầng")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "Cấp 4", Value = "0-1"
                      },
                      new SelectListItem() {
                          Text = "2 tầng", Value = "2-2"
                      },
                      new SelectListItem() {
                          Text = "3 tầng", Value = "3-3"
                      },
                      new SelectListItem() {
                          Text = "4 tầng", Value = "4-4"
                      },
                      new SelectListItem() {
                          Text = "5 tầng", Value = "5-5"
                      },
                      new SelectListItem() {
                          Text = "5 - 7 tầng", Value = "5-7"
                      },
                      new SelectListItem() {
                          Text = "7 - 10 tầng", Value = "7-10"
                      },
                      new SelectListItem() {
                          Text = "10 - 15 tầng", Value = "10-15"
                      },
                      new SelectListItem() {
                          Text = "> 15 tầng", Value = "15-1000"
                      }
                  })
            )

            @(Html.Kendo().ComboBoxFor(x=>x.NumOfBedroom_bw).HtmlAttributes(new { style = "width:120px;" })
                                    .Placeholder("Số phòng ngủ")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "1 phòng", Value = "1-1"
                      },
                      new SelectListItem() {
                          Text = "2 phòng", Value = "2-2"
                      },
                      new SelectListItem() {
                          Text = "3 phòng", Value = "3-3"
                      },
                      new SelectListItem() {
                          Text = "4 phòng", Value = "4-4"
                      },
                      new SelectListItem() {
                          Text = "5 phòng", Value = "5-5"
                      },
                      new SelectListItem() {
                          Text = "5 - 7 phòng", Value = "5-7"
                      },
                      new SelectListItem() {
                          Text = "7 - 10 phòng", Value = "7-10"
                      },
                      new SelectListItem() {
                          Text = "> 10 phòng", Value = "10-1000"
                      }
                  })
            )

            @(Html.Kendo().ComboBoxFor(x=>x.NumOfToilet_bw).HtmlAttributes(new { style = "width:110px;" })
                                    .Placeholder("Số toilet")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "1 toilet", Value = "1-1"
                      },
                      new SelectListItem() {
                          Text = "2 toilet", Value = "2-2"
                      },
                      new SelectListItem() {
                          Text = "3 toilet", Value = "3-3"
                      },
                      new SelectListItem() {
                          Text = "4 toilet", Value = "4-4"
                      },
                      new SelectListItem() {
                          Text = "5 toilet", Value = "5-5"
                      },
                      new SelectListItem() {
                          Text = "5 - 7 toilet", Value = "5-7"
                      },
                      new SelectListItem() {
                          Text = "7 - 10 toilet", Value = "7-10"
                      },
                      new SelectListItem() {
                          Text = "> 10 toilet", Value = "10-1000"
                      }
                  })
            )*@
        <select id="cmbDistrict" name="cmbDistrict" style="width:200px;">
            @{ Html.RenderAction("DistrictPartial", "District"); }
        </select>
        <select id="cmbWard" name="cmbWard" style="width:150px"></select>
        <select id="cmbStreet" name="cmbStreet" style="width: 180px"></select>
        <select id="cmbPostedBy" name="cmbPostedBy" style="width:200px;">
            @{ Html.RenderAction("UserListPartial", "User"); }
        </select>
        <button id="btnSearch" type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
        if (User.IsInRole(Permission.PROPERTY_EXPORT))
        {
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button>
        }
    }
</div>
<input type="hidden" id="obj_name" value="Property" />
<input type="hidden" id="canEdit" value="@(User.IsInRole(Permission.PROPERTY_MODIFY)?1:0)" />
<input type="hidden" id="canDelete" value="@(User.IsInRole(Permission.PROPERTY_DELETE)?1:0)" />
<input type="hidden" id="canViewMobile" value="@(((bool)@ViewBag.CanViewMobile)?1:0)" />
<input type="hidden" id="canHideMobile" value="@(User.IsInRole(Permission.PROPERTY_CUSTOMER_INFO_HIDE)?1:0)" />
<input type="hidden" id="canShowAllMobile" value="@(User.IsInRole(Permission.CUSTOMER_INFO_ADMIN)?1:0)" />
<input type="hidden" id="canChangeHOT" value="@(User.IsInRole(Permission.PROPERTY_HOT)?1:0)" />
<input type="hidden" id="userName" value="@User.Identity.Name" />

@(Html.Kendo().Grid<HappyRE.Core.Entities.ViewModel.PropertyListViewModel>()
      .Name("_list")
      .ToolBar(tools =>
      {
      if (User.IsInRole(Permission.PROPERTY_CREATE))
      {
          tools.Template(@<text>
        <a href="/Property/create" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Thêm bất động sản mới</a>
            </text>);
          }
      })
      .Columns(columns =>
      {
          columns.Template(t => { }).ClientTemplate("#= baseListing.renderNumber(data) #").Title("#").Width(20);
          columns.Bound(e => e.PropertyNumber).ClientTemplate("<a href='/property/detail/#=Id#'>#=PropertyNumber#</a>#=IsTemp? '</br><span class=\"label label-primary\">Lưu tạm</span>':'' #");
          columns.Bound(e => e.CreatedDate).ClientTemplate("<div><span>#=kendo.toString(CreatedDate,'HH:mm dd/MM/yyyy')#</span></br><span>#=kendo.toString(UpdatedDate,'HH:mm dd/MM/yyyy')#</span></div>").Title("Thời gian");
          columns.Bound(e => e.TypeHtml).Encoded(false).ClientTemplate("<div><a href='/property/detail/#=Id#'><strong class='highlight'>#=Code#</strong></a></br><span>#=TypeHtml#</span></div>").Title("Mã BĐS");
          columns.Bound(e => e.AddressHtml).Encoded(false).Title("Vị trí BĐS").Width(160);
          columns.Bound(e => e.DetailHtml).Encoded(false).ClientTemplate("<div><b>DT đất</b>: <span>#=Area# m2</span></br><b>Ngang</b>: <span>#=Width# m</span></br><b>Dài</b>: <span>#=Length# m</span></br><b>Số phòng ngủ</b>: <span>#=NumOfBedroom#</span></br><b>Số toilet</b>: <span>#=NumOfToilet#</span></br><b>Số tầng</b>: <span>#=NumOfFloor#</span></br><b>Đường rộng</b>: <span>#=StreetWidth# m</span></br><b>Hướng nhà</b>: <span>#=DirectionName#</span></br><b>Ghi chú</b>: <span>#=common.readMore(common.raw(Note),100,\"/property/detail/\",Id)#</span></div>").Width(220);
          columns.Bound(e => e.Commission).ClientTemplate("<div><b>Phí MG: </b><strong class='highlight'>#=common.raw(Commission)#</strong></br><b>Giá: </b><strong class='highlight'>#=renderPrice(Price,CurrencyType,CalcMethod)#</strong></br><b>Đơn giá: </b><span>#=PricePerArea#</span></br></div>").Title("Phí MG - Giá").Width(100);
          columns.Bound(e => e.Id).ClientTemplate("#=bizHelper.renderPropertyShowPhone(IsViewedMobileToday, Id, OwnerName, OwnerPhone)#").Title("Điện thoại");
          columns.Bound(e => e.PostedHtml).ClientTemplate("#=PostedHtml#<br><span class='link'>#=PostedBy#</span>").Encoded(false).Title("Người nhập").Width(85);
          columns.Bound(e => e.IsChecked).Encoded(false).ClientTemplate("<div><span>#=StatusHtml#</span>#=IsChecked? '<span class=\"label label-success\">Đã check</span>':'<label></label>' #</div>").Title("Trạng thái"); ;
          //columns.Bound(e => e.PotentialHtml).Encoded(false).Width(80);
          columns.Bound(e => e.IsVerified).ClientTemplate("<i style='color:green'>#= IsVerified==true?'<span class=\"label label-success\">XT</span>' :'' #</i></br>#=renderHOT(Id,IsHot) #").HtmlAttributes(new { style = "text-align:center" }).Title("XT");
          columns.Bound(e => e.Comment).ClientTemplate("#=common.readMore(common.raw(Comment),100,\"/property/detail/\",Id,1)#").HtmlAttributes(new { style="color:red" });
          columns.Bound(e => e.ImageHtmlDisplay).Encoded(false).Width(50).HtmlAttributes(new { style = "text-align:center" }).Title("Hình");
          columns.Template(t => { }).ClientTemplate(@"<a title='Chỉnh sửa thông tin' href='/Property/edit/#=Id#' class='#= bizHelper.renderCanEdit('canEdit',PostedBy)# btn btn-default'><span class='k-icon k-edit' aria-hidden='true'></span> Sửa</a>
<button type='button' onclick='propertyListing.hideMobile(#=Id#,#=IsForceHiddenPhone#)' class='#= bizHelper.renderCanDo('canHideMobile')# btn btn-default'>#=IsForceHiddenPhone?'Hiện SĐT':'Ẩn SĐT'#</button>                                                        
<button type='button' onclick='propertyListing.delete(#=Id#)' class='#= bizHelper.renderCanDo('canDelete')# btn btn-default'><span class='k-icon k-delete'></span> Xóa</button>").Width(80);
      })
      .Pageable(x => x.PageSizes(new[] {20, 50, 100 }))
      .Events(events => events.DataBound("baseListing.onDataBoundHandler"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Model(model => model.Id(p => p.Id))
          .Events(events => events.Error("common.errorHandler"))
                  .Read(read => read.Action("Search", "Property").Data("additionalData"))
      //.Destroy("Delete", "Property")
      )
)

@section Scripts {
    <script>
        function filterDistricts() {
            return {
                cityId: $("#cmbCity").val()
            }
        }
        function additionalData() {
            return {
                'FromDate': $("#FromDate").val(),
                'ToDate': $("#ToDate").val(),
                'TypeId_Filter': $("#TypeId_Filter").val(),
                //'ContractId_Filter': $("#ContractId_Filter").val(),
                'IsChecked_Filter': $("#IsChecked_Filter").val(),
                'StatusId_Filter': $("#StatusId_Filter").val(),
                //'LegalId_Filter': $("#LegalId_Filter").val(),
                'UtilityId_Filter': $("#UtilityId_Filter").val(),
                //'SourceId_Filter': $("#SourceId_Filter").val(),
                'DirectionId_Filter': $("#DirectionId_Filter").val(),
                //'CityId': $("#cmbCity").val(),
                'DistrictId': $("#cmbDistrict").val(),
                'WardId': $("#cmbWard").val(),
                'StreetId': $("#cmbStreet").val(),
                'PostedBy': $("#cmbPostedBy").val(),
                'Keyword': $("#Keyword").val(),
                //'Area_bw': $("#Area_bw").val(),
                //'Price_bw': $("#Price_bw").val(),
                //'Width_bw': $("#Width_bw").val(),
                //'StreetWidth_bw': $("#StreetWidth_bw").val(),
                //'NumOfFloor_bw': $("#NumOfFloor_bw").val(),
                //'NumOfBedroom_bw': $("#NumOfBedroom_bw").val(),
                //'NumOfToilet_bw': $("#NumOfToilet_bw").val(),
                'Width_bw': $("#Width").val() == '' ? null : $("#Width").val() + "-999999999999",
                'StreetWidth_bw': $("#StreetWidth").val() == '' ? null : $("#StreetWidth").val() + "-999999999999",
                'Area_bw': ($("#AreaFrom").val() || "0") + "-" + (parseInt($("#AreaTo").val() || "9999999999999")+0),
                'Price_bw': ($("#PriceFrom").val() || "0") + "-" + (parseInt($("#PriceTo").val() || "9999999999999")+0),
                'NumOfFloor_bw': $("#NumOfFloor").val() == '' ? null : $("#NumOfFloor").val() + "-" + $("#NumOfFloor").val(),
                'NumOfBedroom_bw': $("#NumOfBedroom").val() == '' ? null : $("#NumOfBedroom").val() + "-" + $("#NumOfBedroom").val(),
                'NumOfToilet_bw': $("#NumOfToilet").val() == '' ? null : $("#NumOfToilet").val() + "-" + $("#NumOfToilet").val(),
                'PriceUnit': $("#PriceUnit").val()
            }
        }

        $(document).ready(function () {
            baseListing.init(); 
            baseListing.cip(); 
        });
    </script>

    <script>
        function renderPrice(price, currency, method) {
            if (method == 'tổng diện tích') return price + ' ' + currency;
            else return price + ' ' + currency + '/' + method; 
        }

        function renderHOT(id, isHot) {
            var canHot = $("#canChangeHOT").val() || "0";
            if (canHot == "1")
                return isHot == true ? '<input type="checkbox" checked onclick="propertyListing.changeHot(' + id + ',false)";><span class="highlight">HOT</span>' : '<input type="checkbox" onclick="propertyListing.changeHot(' + id +',true)\";><span class="highlight">HOT</span>';
            else {
                return isHot == true ? '<span class="label label-danger">HOT</span>' : '';
            }
            return '';
        }
    </script>
    <script>
        $("#cmbDistrict").val(null).trigger("change");
        $("#cmbDistrict").select2({
            templateSelection: format,
            escapeMarkup: function (m) { return m; },
            allowClear: true,
            placeholder: 'Quận huyện..',
        });
        $("#cmbWard").select2({
            allowClear: true,
            placeholder: 'Phường xã..',
        });
        $("#cmbStreet").select2({
            allowClear: true,
            placeholder: 'Đường..',
        });

        $("#cmbPostedBy").val(null).trigger("change");
        $("#cmbPostedBy").select2({
            allowClear: true,
            placeholder: 'Nhân viên nhập..',
        });

        function format(item) {
            var opt = $('#cmbDistrict').find(':selected') || '';
            var og = opt.closest('optgroup').attr('label') || '';
            return item.text + ' - ' + og;
        };

        $("#cmbDistrict").on("change", function () {
            $.ajax({
                type: "GET",
                url: common.mapPath('/ward/_gets?districtId=' + $("#cmbDistrict").val()),
                dataType: "json",
                success: function (data) {
                    var rangeOptions = [];
                    for (var i = 0; i < data.length; i++) {
                        var option = new Option(data[i].Name, data[i].Id);
                        rangeOptions.push(option);
                    }

                    $("#cmbWard option[value]").remove();
                    $("#cmbWard").append(rangeOptions).val(null).trigger("change");
                    $("#cmbWard").select2({
                        placeholder: 'Phường xã..',
                        allowClear: true
                    }).trigger("change");
                }
            });

            $.ajax({
                type: "GET",
                url: common.mapPath('/street/_gets?districtId=' + $("#cmbDistrict").val()),
                dataType: "json",
                success: function (data) {
                    var rangeOptions = [];
                    for (var i = 0; i < data.length; i++) {
                        var option = new Option(data[i].Name, data[i].Id);
                        rangeOptions.push(option);
                    }

                    $("#cmbStreet option[value]").remove();
                    $("#cmbStreet").append(rangeOptions).val(null).trigger("change");
                    $("#cmbStreet").select2({ placeholder: 'Đường..', allowClear: true}).trigger("change");
                }
            });
        });
    </script>
}
