@model HappyRE.Core.Entities.Model.Notification
@{
    ViewBag.Title = @Model.Title;
}


<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend><strong>@Model.Title</strong></legend>

            @if (@Model.Details != null)
            {
                <div>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Details))
                    <hr />
                </div>
            }
            @if (@Model.DetailsURL != null)
            {
                <div>

                    <span class="fa fa-angle-right"></span> <a target="_blank" href="@Model.DetailsURL">Xem nội dung chi tiết</a>
                </div>
            }
        </fieldset>
        @if (@Model.CreatedBy != "System")
        {
        <hr />
        <span>Tạo bởi: <span class="link">@Model.CreatedBy</span></span>
        }
    </div>
</div>
<p class="foot-link">
    @Html.ActionLink("< Trở lại danh sách", "Index")
</p>
