@model HappyRE.Web.Models.AgentListViewModel
@using MBN.Utils.Extension;
@using HappyRE.Core.Resources;
@using Newtonsoft.Json
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";
    int cityId = (Model.Query.DistrictId == 0) ? Model.Query.CityId : Model.Query.DistrictId;
}
<script type="text/ng-template" id="suggestPopupTemplate.html">
    <ul class="dropdown-menu suggest"
        ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left-1+'px',width: position().width +2 + 'px'}"
        role="listbox" aria-hidden="{{!isOpen()}}">
        <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
            <a href="#" tabindex="-1" ng-bind-html="match.model.Name"></a>
        </li>
    </ul>
</script>

<div ng-controller="agentListingController" class="mg-listing">
    <div id=search-bar>
        <div class="mg-1170-container">
            <form class="clearfix" ng-submit="searchAgent()" novalidate>
                <div class="search-box clearfix">
                    <i class="fa fa-search"> </i>
                    <input type="text" id="q" name="keyword"
                           ng-model="Keyword"
                           ng-required="true"
                           typeahead-loading="LoadingLocations"
                           typeahead-no-results=""
                           typeahead-on-select="searchAgent()"
                           uib-typeahead="item as item.FullName(item.Name) for item in getAgentSuggest($viewValue)" value=""
                           typeahead-popup-template-url="suggestPopupTemplate.html"
                           typeahead-show-hint="false"
                           autocomplete="off" placeholder="@Message.AgentListing_SearchPlaceHolder" autofocus />
                    <i ng-show="Keyword!=null && Keyword.Name!==''" ng-click="ResetKeyWord()" class="fa fa-times-circle"></i>
                </div>
                <div class="location">
                    <div uib-dropdown is-open="Cities.IsOpen" auto-close="outsideClick">
                        <button type="button" class="btn" uib-dropdown-toggle>
                            <span ng-bind="Cities.DisplayText"></span><i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu noselect scrollbar-style-1" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-show="Cities.IsShowBackButton()">
                                <a href="#" ng-click="Cities.OnClickBack(Cities.ParrentItem)">
                                    <div class="item-content">
                                        <span class="back-icon">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </span>
                                        <span class="back-text" ng-bind="Cities.ParrentItem.n">x</span>
                                    </div>
                                </a>
                            </li>
                            <li ng-repeat="item in Cities.Data">
                                <a href="#" ng-click="Cities.OnClick(item,$index)" ng-class="{'selected': Cities.IsSelected(item.i)}">
                                    <div class="item-content">
                                        <span ng-bind="!($index==0 && Cities.IsShowBackButton())?item.n:'@Message.Msg_Select_All'"></span>
                                    </div>
                                    <div class="mg-dropdown-icon" ng-show="Cities.IsShowViewMore(item,$index) == true" style="">
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <input type="submit" ng-click="searchAgent()" class="search-btn" value="@Message.Msg_Search">
            </form>
        </div>
    </div>
    <div id="breadcrumb">
        <div class="mg-1170-container">
            @{
                Html.RenderAction("Breadcrumb_AgentList", "CachePartial", new { keyWord = Model.Query.Keyword, cityId = cityId });
            }
        </div>
    </div>
    <div id="mg-page-content">
        <div class="mg-1170-container">
            <div id="main" class="clearfix">
                <div id="result-message">
                    @if (@Model.Paging.Total == 0)
                    {
                        <div class="page-title no-result">@Html.Raw(string.Format(Message.AgentListing_ResultText0, @Model.Query.Keyword))</div>
                    }
                    else
                    {
                        <h1 class="page-title">@Html.Raw(ViewBag.TitlePage)</h1>
                        @*<div class="result-count">@Html.Raw(Model.GetResult())</div>*@
                    }
                </div>
                @if (@Model.Paging.Total != 0)
                {
                    <ul class="agent-listing">
                        @foreach (var agent in Model.Agents)
                        {
							var avatarUrl = agent.AvatarMediumUrl();
                            <li class="agent clearfix">
                                <div class="agent-info">
									<div class="agent-avatar">
										@if (false == string.IsNullOrEmpty(avatarUrl))
										{
											<img class="lozad" data-src="@Html.Raw(avatarUrl)" />
										}
										else
										{
											<i class="fa fa-user-circle"></i>
										}
									</div>
									<div class="agent-brief">
										<h2><a class="link-overlay" href="@agent.Url">@agent.Name</a></h2>
										@if (agent.IsVerifiedIDCard)
										{
											<div>@Message.ContactForm_IDVerified</div>	
										}
										<div class="agent-date">@Message.Detail_JoinedDate: @agent.JoineDateToString()</div>
										<div class="agent-mobile" ng-bind="PhoneFormat('@agent.Mobile')">@agent.Mobile</div>
									</div>
                                </div>
                                <div class="agent-statistic">
                                    <div class="total"><span>@agent.Total</span>@Message.AgentListing_TotalPosts</div>
                                    @if (agent.Districts != null)
									{
										var districts = agent.Districts.Take(5).ToList();
                                        <div class="prop-areas clearfix">
                                            @foreach (var d in districts)
                                            {
                                                <span>@d</span>
                                            }
                                        </div>
                                    }
                                </div>
                            </li>
                        }

                    </ul>

                    <div style="text-align: center">
                        @Html.Partial("Partials/_Paging", Model.Paging)
                    </div>
                }

                @if (Model.Paging.CurrentPage == 1)
                {
                    <div class="page-desciption" style="display:none;">
                        @Html.Raw(ViewBag.Footer)
                    </div>
                }
            </div>
            <div id="side-bar" class="clearfix">
                @{
                    Html.RenderAction("RightBanner", "Banner", new { code = "agent-right-top" });
                    Html.RenderAction("AgentSimilar", "CachePartial", new { cid = 0 });
                    Html.RenderAction("RightBanner", "Banner", new { code = "agent-right-center" });
                    Html.RenderAction("Blogv2", "CachePartial");
                }
            </div>
        </div>
    </div>
</div>
@section styles {
    @*@Styles.Render("~/content/agentlist.css")*@
	<link rel="preload" href="@HappyRE.Core.Utils.Common.CDNUrl@Styles.Url("~/content/agentlist.css")" as="style" onload="this.onload=null;this.rel='stylesheet'">
}

@section scripts {
<script type="text/javascript">
    var agentUrl = '@Message.Routing_Finding_Agent';
    var query = @Html.Raw(Model.Query.ToJson());
    var cid = @Html.Raw(cityId);
    var msg = {};
    msg.AllLocation = "@HappyRE.Web.Resources.Message.Home_Msg_Location_All";
</script>
<script async src="@HappyRE.Core.Utils.Common.CDNUrl@Scripts.Url("~/content/agentlist.js")" type="text/javascript"></script>
}
