@using Microsoft.AspNet.Identity
@model HappyRE.App.Models.ManageUserViewModel

<style>
    input.form-control {
        max-width: 250px;
        display: inline-block;
    }
    #toggle-password {
        display: inline-block;
    }
</style>


<p>Bạn đang đăng nhập là <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            <span id="toggle-password" toggle="#password-field" class="glyphicon glyphicon-eye-open" onclick="showPass(this,'OldPassword')"></span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <span id="toggle-password" toggle="#password-field" class="glyphicon glyphicon-eye-open" onclick="showPass(this,'NewPassword')"></span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <span id="toggle-password" toggle="#password-field" class="glyphicon glyphicon-eye-open" onclick="showPass(this,'ConfirmPassword')"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đổi mật khẩu" class="btn btn-default" />
        </div>
    </div>
}

    <script>
        function showPass(a, id) {
            var input = $("#" + id);
            if (input.attr("type") === "password") {
                input.attr("type", "text");
                $(a).removeClass('glyphicon-eye-open').addClass("glyphicon-eye-close");
            } else {
                input.attr("type", "password");
                $(a).addClass('glyphicon-eye-open').removeClass("glyphicon-eye-close");
            }
        }
    </script>

