@model HappyRE.Core.MapModels.FrontEnd.ProfileChangePasswordViewModel
@using HappyRE.Core.Resources;
@{
    ViewBag.Title = Message.Msg_Profile_ChangePassword;
}

<div id="profile" class="mg-container" ng-controller="userProfileController" ng-init="initProfile()">
    <div id="sidebar" class="clearfix">
        @Html.Partial("_LeftMenu")
    </div>

    <div id="main" class="clearfix">
        <div class="profile-content changepass clearfix" ng-init="ChangePassword.initData('@string.Format(HappyRE.Core.Resources.Validation.PaswordConfirmInvalid, HappyRE.Core.Resources.Model.UserProfile_NewPassword, HappyRE.Core.Resources.Model.Register_ConfirmPassword)')">
            <form class="form-horizontal" name="myForm" ng-submit="ChangePassword.updatePassword()" novalidate>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-sm-12">
                    <div>
                        <label class="titlename">@HappyRE.Core.Resources.Model.UserProfile_OldPassword</label>
                        @Html.TextBox("OldPassWord", null, @Html.AngularAttibute("OldPassWord", "Profile", new Dictionary<string, string>() { { "class", "text-control" }, { "type", "password" }, { "placeholder", HappyRE.Core.Resources.Model.UserProfile_OldPassword }, { "autocomplete", "off" } }))
                    </div>
                    <div class="msg-error">
                        @Html.AngularMessage("OldPassWord")
                    </div>
                </div>
                <div class="col-sm-12">
                    <div>
                        <label class="titlename">@HappyRE.Core.Resources.Model.UserProfile_NewPassword</label>
                        @Html.TextBox("Password", null, @Html.AngularAttibute("Password", "Profile", new Dictionary<string, string>() { { "class", "text-control" }, { "type", "password" }, { "placeholder", HappyRE.Core.Resources.Model.UserProfile_NewPassword }, { "autocomplete", "off" } }))
                    </div>
                    <div class="msg-error">
                        @Html.AngularMessage("Password")
                    </div>
                </div>
                <div class="col-sm-12">
                    <div>
                        <label class="titlename">@HappyRE.Core.Resources.Model.UserProfile_ConfirmNewPassword</label>
                        @Html.TextBox("ConfirmPassword", null, @Html.AngularAttibute("ConfirmPassword", "Profile", new Dictionary<string, string>() { { "class", "text-control" }, { "type", "password" }, { "placeholder", HappyRE.Core.Resources.Model.Register_ConfirmPassword }, { "autocomplete", "off" } }))
                    </div>
                    <div class="msg-error">
                        @Html.AngularMessage("ConfirmPassword")
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="f-footer">
                        <button type="submit" class="btn btn-primary left-170">@Message.Msg_Update</button>
                    </div>
                </div>
            </form>
    </div>
</div>
</div>
@section scripts{
@Styles.Render("~/Content/profilecss")
@Styles.Render("~/Content/profileFavorite")
@Scripts.Render("~/bundles/profile")
}

