@model Mogi.Web.Models.HomeViewModel
@using MBN.Utils.Extension;
@using Mogi.Core.Resources;
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";
    var msg = new
    {
        Filter = Mogi.Core.Resources.Message.Msg_Filter_More,
        FilterClear = Mogi.Core.Resources.Message.Msg_Filter_Clear,
        Close = Mogi.Core.Resources.Message.Msg_Close,
        Finish = Mogi.Core.Resources.Message.Msg_Finish,
        Search = Mogi.Core.Resources.Message.Msg_Search,
        Keyword_PlaceHolder = Mogi.Core.Resources.Message.Search_Keyword_PlaceHolder,
        View_List = Mogi.Core.Resources.Message.Listing_View_List,
        View_Map = Mogi.Core.Resources.Message.Listing_View_Map
    };
}
<script type="text/ng-template" id="suggestPopupTemplate.html">
    <ul class="dropdown-menu suggest"
        ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left-1+'px',width: position().width +2 + 'px'}"
        role="listbox" aria-hidden="{{!isOpen()}}">
        <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
            <a href="#" tabindex="-1" ng-bind-html="match.model.Name"></a>
        </li>
    </ul>
</script>
<div ng-controller="HomeController">
    <div class="top-search clearfix">
        <div class="container">
            <div class="top-search-form">
                <div><h1 class="title-01">@Html.Raw(Message.Home_001)</h1></div>
                <div class="title-02 hidden-xs">@Html.Raw(Message.Home_002)</div>
                <div>
                    <form id="fsearch" autocomplete="off" ng-submit="CallSearch()">
                        <div class="command">
                            <div class="keyword">
                                <input type="text" id="q" name="q"
                                       ng-model="Keyword"
                                       ng-required="true"
                                       ng-keyup="OnKeyUp($event)"
                                       typeahead-loading="LoadingLocations"
                                       typeahead-no-results=""
                                       uib-typeahead="item as item.FullName(item.Name) for item in GetMap($viewValue)" value=""
                                       typeahead-popup-template-url="suggestPopupTemplate.html"
                                       typeahead-show-hint="false"
                                       typeahead-on-select="KeywordOnSelected()"
                                       autocomplete="off"
                                       placeholder="@msg.Keyword_PlaceHolder"
                                       autofocus />
                            </div>
                            <div class="transtype" ng-click="FilterMore.Close()">
                                <div class="dropdown" uib-dropdown>
                                    <button class="btn btn-default btn-search dropdown-toggle" type="button" id="transtype-dropdown" uib-dropdown-toggle>
                                        <span class="title" ng-bind="TransType.Label"></span>
                                        <span class="value" ng-bind="TransType.Selected.Name"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li ng-repeat="item in TransType.Items">
                                            <a href="#" ng-click="TransType.Changed(item)" ng-class="{selected: TransType.IsSelected(item)}">
                                                <span><i ng-show="TransType.IsSelected(item)" class="icon-left icon icon-check"></i>{{item.Name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="property-type" ng-click="FilterMore.Close()">
                                <div class="dropdown" uib-dropdown auto-close="outsideClick" is-open="PropType.IsOpen">
                                    <button class="btn btn-default btn-search dropdown-toggle" type="button" id="property-type-dropdown" uib-dropdown-toggle>
                                        <span class="title" ng-bind="PropType.Label"></span>
                                        <span class="value" ng-bind="PropType.DisplayName"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li ng-repeat="item in PropType.Items">
                                            <a href="#" ng-click="PropType.Changed(item)" ng-class="{selected: PropType.IsSelected(item)}">
                                                <span><i ng-show="PropType.IsSelected(item)" class="icon icon-check"></i>{{item.Name}}</span>
                                            </a>
                                            <ul ng-show="PropType.HasChild(item)" class="sub-items">
                                                <li ng-repeat="itemSub in PropStyle.Items" ng-click="PropStyle.Changed(itemSub)">
                                                    <span ng-class="{selected: PropStyle.IsSelected(itemSub)}"><i class="icon" ng-class="PropStyle.IsSelected(itemSub)?'icon-checkbox-checked':'icon-checkbox-empty'"></i>{{itemSub.Name}}</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header"><button class="btn-xs btn-clear" ng-click="PropType.Close()">@msg.Close.ToUpper()</button></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="search" ng-click="CallSearch()">@msg.Search.ToUpper()</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="home-content container">
        <div class="home-news">
            @{
                Html.RenderAction("HomeCenter", "Banner");
                //Html.RenderPartial("/Views/Banner/_HomeCenter.cshtml");
                Html.RenderPartial("Partials/_GuideNews", Model);
            }
        </div>
        <div class="home-recent">
            @{
                Html.RenderPartial("Partials/_RecentSearch", Model);
                Html.RenderAction("ListRight", "Banner");
            }
        </div>
    </div>
</div>
@section styles {@Styles.Render("~/content/homecss")}
@section scripts {
    <script type="text/javascript">
        var pageData = {};
        pageData.IsAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
    </script>
    <script async src='@Scripts.Url("~/bundles/home")' type="text/javascript"></script>
}