
@{
    ViewBag.Title = "Miễn phí đăng tin tiếng anh mua bán nhà đất tại Việt Nam | batdongsanhanhphuc.vn";
    ViewBag.Description = "Đăng tin mua bán, cho thuê nhà đất miễn phí, tiếp cận hàng triệu nhà đầu tư bất động sản tiềm năng trên khắp thể giới";
    ViewBag.PostingUrl = "https://en.batdongsanhanhphuc.vn/Profile/Posting";
    ViewBag.SalesUrl = "https://en.batdongsanhanhphuc.vn/buy-property";
    ViewBag.ForRentUrl = "https://en.batdongsanhanhphuc.vn/rent-property";
    ViewBag.SigUpUrl = "https://en.batdongsanhanhphuc.vn/signup";
    ViewBag.SigInUrl = "https://en.batdongsanhanhphuc.vn/signin";
    ViewBag.AgentUrl = "https://en.batdongsanhanhphuc.vn/find-agent";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}
@Styles.Render("~/content/landingcssen")
<div class="main" ng-controller="landingController">
    <div class="top">
        <div class="container">
            <div class="content clearfix">
                <div class="start">
                    Trang tin bất động sản batdongsanhanhphuc.vn
                </div>
                <div class="english">
                    <div class="title">
                       <h1 class="title"> ĐĂNG TIN TIẾNG ANH</h1>
                    </div>
                    <div>
                      <h1 class="title2">MIỄN PHÍ</h1>
                    </div>
                    <div class="info">
                        Tiếp cận <span>4.000.000+</span> triệu người nước ngoài mua/thuê nhà tại Việt Nam
                    </div>
                </div>
                <div class="command">
                    <div class="radios-button">
                        <a href="https://en.batdongsanhanhphuc.vn/">tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
            <div class="image">
                <img src="~/Content/Images/landing/M.jpg" />
            </div>
            <div class="m-image clearfix">
                <img src="~/Content/Images/landing/mobile/m.png" />
            </div>
        </div>
    </div>
    <div class="sumenh clearfix">
        <div class="container">
            <div class="title"><h2 class="title">Sứ mệnh batdongsanhanhphuc.vn</h2></div>
            <div class="info">
                batdongsanhanhphuc.vn mong muốn giúp môi giới bất động sản tiếp cận người nước ngoài, cũng như giúp người nước ngoài dễ dàng tìm được nhà tại Việt Nam
            </div>
        </div>
    </div>
    <div class="summary clearfix">
        <div class="container">
            <div class="m-image">
                <img src="~/Content/Images/landing/mobile/M-logo.jpg" />
            </div>
            <div class="content">
                <div class="title"><h2  class="title">Thị trường nước ngoài tại Việt Nam</h2></div>
                <div class="title1">Những con số ấn tượng năm 2017</div>
                <div class="body clearfix">
                    <div class="item1">
                        <img src="~/Content/Images/landing/icon-money.png" />
                        <div class="title">1,1 Tỷ USD</div>
                        <div class="info">vốn đầu tư vào bất động sản</div>
                    </div>
                    <div class="item2">
                        <img src="~/Content/Images/landing/icon-shop.png" />
                        <div class="title">4 Triệu</div>
                        <div class="info">Việt kiều đã đăng ký tạm trú tại Việt Nam</div>
                    </div>
                    <div class="item3">
                        <img src="~/Content/Images/landing/icon-people.png" />
                        <div class="title">320.000+</div>
                        <div class="info">người nước ngoài sinh sống tại Việt Nam</div>
                    </div>
                    <div class="item4">
                        <img src="~/Content/Images/landing/icon-gcn.png" />
                        <div class="title">750+</div>
                        <div class="info">người nước ngoài được cấp giấy chứng nhận sở hữu nhà tại Việt Nam</div>
                    </div>
                </div>
                <div class="footer clearfix">
                    Đây chính là "mỏ vàng" <span>đầy tiềm năng</span> và là <span>cơ hội lớn</span> dành cho môi giới Việt nếu biết cách khai thác kịp thời.
                </div>
            </div>
        </div>
    </div>
    <div class="b-english clearfix">
        <div class="container">
            <div class="img">
                <img src="~/Content/Images/landing/logo.png" />
            </div>
            <div class="m-img">
                <img src="~/Content/Images/landing/mobile/M-logo.jpg" />
            </div>
            <div class="title">Phiên bản tiếng anh</div>
            <div class="title2">
                <div>Lần đầu tiên tại Việt Nam, những khó khăn khi khai thác thị phần nước ngoài được khắc phục triệt để</div>
                @*<div>thị phần nước ngoài được khắc phục triệt để</div>*@
            </div>
            <div class="body clearfix">
                <div class="m-image">
                    <img src="~/Content/Images/landing/mobile/M-mt.jpg" width="100%" />
                </div>
                <div class="content clearfix">

                    <div class="item1">
                        <div class="customer">Gian nan tìm khách hàng</div>
                        <div class="price">Rào cản ngôn ngữ</div>
                    </div>
                    <div class="item2">
                        <img src="~/Content/Images/landing/lcd.png" width="100%" />

                    </div>
                    <div class="item3">
                        <div class="language">Cạnh tranh giá cả</div>
                        <div class="agent">Uy tín của môi giới</div>
                    </div>
                </div>
            </div>
            <div class="footer">Trải nghiệm ngay</div>
            <div class="m-command">
                <div class="button">
                    <a href="@ViewBag.PostingUrl">Đăng tin ngay</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="trans clearfix">
        <div class="container">

            
            <div class="content">
                <div class="item">                   
                    <img src="~/Content/Images/landing/mouse.png" />
                </div>
                <div class="item1">
                    <div class="post-en">Đăng tin tiếng Anh trên  <img src="~/Content/Images/landing/logo.png" /></div>
                    <div class="click-01">chỉ cần <span>01</span> cú click</div>
                    <div class="tiep-can">Tiếp cận hơn <span>4.000.000</span> người nước ngoài và Việt Kiều tìm nhà mỗi tháng</div>
                    <div class="command">
                        <div class="posting">
                            <a href="@ViewBag.PostingUrl">Đăng tin ngay</a> 
                        </div>
                    </div>
                </div>
                <div class="item2">
                    <img src="~/Content/Images/landing/calling.png" />
                </div>
                <div class="m-item">
                    <div>Với công nghệ dịch tin đăng chính xác nhất của Google</div>
                    <div>Chỉ cần <span>01</span> cú click</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiep-can clearfix">
            <div class="container">
                <div class="content">
                  Tiếp cận hơn <span>4.000.000</span> người nước ngoài và Việt Kiều tìm nhà mỗi tháng
                </div>
                <div class="m-img">
                    <img src="~/Content/Images/landing/mobile/M-mobi.jpg" />
                </div>               
            </div>
        </div>
    <div class="free clearfix">
        <div class="container">
            <div class="content">
                <div class="title1">miễn phí đăng tin</div>
                <div class="thang">03 tháng</div>
                <div class="price">Trị giá 1.200.000 vnđ</div>
                @*<div class="tang1">Tặng <span>thẻ xăng 100.000đ</span> cho top 10 người đăng tin Tiếng Anh trong tháng</div>
                <div class="tang2">Đăng trên 05 tin Tiếng Anh chất lượng tăng ngay <span>sổ tay</span> <img src="~/Content/Images/landing/logo.png" style="width:110px;" /></div>*@
            </div>
            <div class="img">
                <img src="~/Content/Images/landing/mobi.png" />
            </div>
            <div class="m-img">
                <img src="~/Content/Images/landing/mobile/M-mobi-2.jpg" />
            </div>
        </div>
    </div>

    <div class="regis clearfix">
        <div class="container">
            <div class="content clearfix">
                <div class="clock">
                    <span class="item">{{Time.Hour1}}</span>
                    <span class="item">{{Time.Hour2}}</span>
                    <span class="dot">:</span>
                    <span class="item">{{Time.Minute1}}</span>
                    <span class="item">{{Time.Minute2}}</span>
                    <span class="dot">:</span>
                    <span class="item">{{Time.Second1}}</span>
                    <span class="item">{{Time.Second2}}</span>
                </div>
                <div class="command">
                    <div class="button clearfix"><a href="@ViewBag.SigUpUrl">Đăng ký ngay</a> </div>
                </div>

            </div>
            <div class="m-content">
                <div class="command clearfix">
                    <div class="button clearfix"><a href="@ViewBag.PostingUrl">Đăng tin ngay</a></div>
                </div>
                <div class="clock">
                    <span class="item">{{Time.Hour1}}</span>
                    <span class="item">{{Time.Hour2}}</span>
                    <span class="dot">:</span>
                    <span class="item">{{Time.Minute1}}</span>
                    <span class="item">{{Time.Minute2}}</span>
                    <span class="dot">:</span>
                    <span class="item">{{Time.Second1}}</span>
                    <span class="item">{{Time.Second2}}</span>
                </div>
                <div class="clearfix"> </div>

            </div>
            <div class="description clearfix">
                <div class="title">Có thể bạn chưa biết</div>
                <div class="body"><a href="https://goo.gl/srhUAg">Lý do người nước ngoài thích mua nhà ở Việt Nam</a></div>
                <div class="body"><a href="https://goo.gl/f4zGQn">Thủ tục đăng ký cho người nước ngoài</a></div>
                <div class="body"><a href="https://goo.gl/6tASzF">Thủ tục thanh toán cho người nước ngoài khi mua nhà ở Việt Nam</a></div>
            </div>
        </div>
    </div>

    <div class="customer-f clearfix">
        <div class="container clearfix">
        </div>
    </div>
    <div class="footer clearfix">
        <div class="container">
            <div class="left">
                <a href="/" alt="batdongsanhanhphuc.vn"><img src="~/Content/Images/landing/logo.png" alt="Mogi bất động sản thật" /></a>
                <div class="m-social">
                    <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/mobile/M-face.png" /></a>
                    <a href="https://www.youtube.com/channel/UCvRsRjbwCp2fBEizRsaaNqw"><img src="~/Content/Images/landing/youtube.jpg" /></a>
                    <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/mobile/M-In.png" /></a>
                </div>
                <div class="m-url">www.mogi.nn</div>
            </div>
            <div class="center">
                <div class="url"><a href="https://batdongsanhanhphuc.vn">www.batdongsanhanhphuc.vn</a></div>
                <div class="calling">
                    <div>1900 6868</div>
                    <div>(028) 7300 1234</div>
                    <div>(028) 7300 1234</div>
                </div>
                <div class="address">
                    <div>28-30 Đường số 2</div>
                    <div>Hưng Gia 5, phường Tân Phong</div>
                    <div> Quận 7, TP. Hồ Chí Minh</div>
                </div>
            </div>
            <div class="right">
                <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/icon-face.jpg" /></a>
                <a href="https://www.youtube.com/channel/UCvRsRjbwCp2fBEizRsaaNqw"><img src="~/Content/Images/landing/youtube.jpg" /></a>
                <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/icon-in.jpg" /></a>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        var sideslider = $('[data-toggle=collapse-side]');
        var sel = sideslider.attr('data-target');
        var sel2 = sideslider.attr('data-target-2');
        sideslider.click(function (event) {
            $(sel).toggleClass('in');
            $(sel2).toggleClass('out');
        });
        $('.side-collapse-container').click(function (event) {
            //if ($(sel).hasClass('out')) {
            //    $(sel).toggleClass('out');
            //    $(sel2).toggleClass('in');
            //}
        });
    });
    angular.module('mogiAppLanding', []).controller('landingController', ['$scope', '$interval', function ($scope, $interval) {
        $scope.Time = {
            Day: '00',
            Hour: '00',
            Minute: '00',
            Second: '00',
            Hour1: '0',
            Hour2: '0',
            Minute1: '0',
            Minute2: '0',
            Second1: '0',
            Second2: '0',
        };
        var target_date = new Date('@Html.Raw(ViewBag.Expired)').getTime(); // set the countdown date
        //var target_date = new Date(2017,7,17).getTime();
        var days, hours, minutes, seconds; // variables for time units
        getCountdown();

        $interval(function () { getCountdown(); }, 1000);

        function getCountdown() {

            // find the amount of "seconds" between now and target
            var current_date = new Date().getTime();
            var seconds_left = (target_date - current_date) / 1000;

            days = pad(parseInt(seconds_left / 86400));
            seconds_left = seconds_left % 86400;

            hours = pad(parseInt(seconds_left / 3600));
            seconds_left = seconds_left % 3600;

            minutes = pad(parseInt(seconds_left / 60));
            seconds = pad(parseInt(seconds_left % 60));
            $scope.Time.Day = days;
            $scope.Time.Hour = hours;
            $scope.Time.Minute = minutes;
            $scope.Time.Second = seconds;
            $scope.Time.Hour1 = $scope.Time.Hour.substring(0, 1);
            $scope.Time.Hour2 = $scope.Time.Hour.substring(1);
            $scope.Time.Minute1 = $scope.Time.Minute.substring(0, 1);
            $scope.Time.Minute2 = $scope.Time.Minute.substring(1);
            $scope.Time.Second1 = $scope.Time.Second.substring(0, 1);
            $scope.Time.Second2 = $scope.Time.Second.substring(1);
        }

        function pad(n) {
            return (n < 10 ? '0' : '') + n;
        }
    }]);

    </script>
}

