@model Mogi.Core.MapModels.FrontEnd.OTPConfirmViewModel
@using Mogi.Core.Resources;
@{
	this.Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Message.Msg_ForgetPassword;
	var googleCaptchaSiteKey = Mogi.Core.Utils.Common.GOOGLE_CAPTCHA_SITEKEY;
	var google_hl = Mogi.Core.Const.LANG_CULTURE.Split('-')[0];
}
<div class="login row">
	<div class="verticalcenter">
		<div class="panel">
			<div class="f-header">
				<span class="title">@Message.Msg_ForgetPassword</span>
			</div>
			@using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(x => x.Mobile)
				<div class="panel-body">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="block_notify">
						@Html.Raw(string.Format(Mogi.Core.Resources.Message.ConfirmMobile_Alert, Model.Mobile))
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								@Html.TextBoxFor(m => m.Code, new { @class = "text-control", placeholder = Html.DisplayPlaceHolderFor(m => m.Code) })
							</div>
							@Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="f-footer">
						<button id="btn-submit" type="submit" class="btn btn-primary" onclick="callSubmit(event);">@Message.Msg_Continue<i class="fa fa-angle-right"></i></button>
					</div>
				</div>
				<div id="recaptcha"
					 class="g-recaptcha"
					 data-sitekey="@googleCaptchaSiteKey"
					 data-callback="captchaCallback"
					 data-size="invisible">
				</div>
			}
		</div>
	</div>
</div>
@section styles {
	<link rel="preload" href="@Mogi.Core.Utils.Common.CDNUrl@Styles.Url("~/content/account.css")" as="style" onload="this.onload=null;this.rel='stylesheet'">
}
@section scripts{
	<script type="text/javascript">
		var captcha_id = 0;
		var captcha_resp = "";
		var onloadCallback = function () {
			captcha_id = grecaptcha.render("recaptcha");
		};
		var captchaCallback = function () {
			captcha_resp = grecaptcha.getResponse(captcha_id);
			if (captcha_resp != "") {
				document.getElementById("btn-submit").click();
			}
		};
		var callSubmit = function (e) {
			captcha_resp = grecaptcha.getResponse(captcha_id);
			if (captcha_resp === '') {
				e.preventDefault();
				grecaptcha.execute(captcha_id);
				return false;
			}
			return true;
		};
	</script>
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=@google_hl" async defer></script>
}