@model HappyRE.Core.MapModels.FrontEnd.ForgotPasswordViewModel
@using HappyRE.Core.Utils;
@using HappyRE.Core.Resources;

@{
	this.Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = @Message.Msg_ForgetPassword;
}
<div class="login row" ng-controller="accountController">
	<div class="verticalcenter">
		<div class="panel">
			<div class="f-header">
				<span class="title">@Message.Msg_ForgetPassword</span>
			</div>
			<div class="panel-body">
				<!--Input Mobile-->
				<form ng-show="Forgot.stepInput()" name="myForm" ng-submit="Forgot.submit()" novalidate>
					<div class="form-group">
						@Html.TextBox("Mobile", null, @Html.AngularAttibute("Mobile", "Profile", new Dictionary<string, string>() { { "class", "form-control" }, { "placeholder", HappyRE.Core.Resources.Model.UserProfile_Mobile }, { "autocomplete", "off" } }))
						@Html.AngularMessage("Mobile", "myForm", null, true)
					</div>
					<div class="form-group password">
						<svg ng-show="!Forgot.eye" ng-click="Forgot.togglePass()" class="mi mi-eye"><use xlink:href="@Common.CDNIconUrl#mi-eye-slash"></use></svg>
						<svg ng-show="Forgot.eye" ng-click="Forgot.togglePass()" class="mi mi-eye"><use xlink:href="@Common.CDNIconUrl#mi-eye"></use></svg>
						@Html.TextBox("Password", null, @Html.AngularAttibute("Password", "Profile", new Dictionary<string, string>() { { "class", "form-control" }, { "type", "password" }, { "placeholder", HappyRE.Core.Resources.Model.UserProfile_NewPassword }, { "maxlength", "50" }, { "autocomplete", "off" } }))
						@Html.AngularMessage("Password", "myForm", null, true)
					</div>
					<div class="f-footer">
						<button id="btn-submit" type="submit" class="btn btn-primary">@Message.Msg_Continue<i class="fa fa-angle-right"></i></button>
					</div>
				</form>

				<!--OTP-->
				<form ng-show="Forgot.stepOTP()" name="otpForm" ng-submit="Forgot.validateOTP()" novalidate>
					<div>
						<div class="form-group">
							<div ng-bind-html="OtpMsg"></div>
						</div>
						<div class="form-group">
							@Html.TextBox("Mobile", null, @Html.AngularAttibute("Mobile", "Profile", new Dictionary<string, string>() { { "class", "form-control" }, { "placeholder", HappyRE.Core.Resources.Model.UserProfile_Mobile }, { "autocomplete", "off" }, { "readonly", "readonly" } }))
						</div>
						<div class="form-group password">
							@Html.TextBox("Password", null, @Html.AngularAttibute("Password", "Profile", new Dictionary<string, string>() { { "class", "form-control" }, { "type", "password" }, { "placeholder", HappyRE.Core.Resources.Model.UserProfile_NewPassword }, { "readonly", "readonly" } }))
						</div>
						<div class="form-group">
							@Html.TextBox("Code", null, @Html.AngularAttibute("Code", "Profile", new Dictionary<string, string>() { { "maxlength", "6" }, { "class", "form-control" }, { "placeholder", HappyRE.Core.Resources.Model.ConfirmMobile_VerifiedCode }, { "autocomplete", "off" }, { "autofocus", "" } }))
							@Html.AngularMessage("Code", "otpForm", new Dictionary<string, string>() { })
						</div>
						<div class="form-group">
							<button id="verified-otp" type="submit" class="btn btn-primary">@Message.Msg_Continue<i class="fa fa-angle-right"></i></button>
						</div>
					</div>
					@{Html.RenderPartial("~/Views/Shared/Partials/_Captcha.cshtml", new Dictionary<string, string>() { { "buttonId", "verified-otp" } });}
				</form>

				<!--Success-->
				<form ng-show="Forgot.stepSuccess()" novalidate>
					<div class="form-group">
						<div ng-bind-html="Forgot.message"></div>
					</div>
					<div class="f-footer">
						<a ng-href="{{Forgot.loginUrl}}" class="btn btn-primary">@Message.Msg_Login<i class="fa fa-angle-right"></i></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section styles {
	<link rel="preload" href="@HappyRE.Core.Utils.Common.CDNUrl@Styles.Url("~/content/account.css")" as="style" onload="this.onload=null;this.rel='stylesheet'">
}
@section scripts{
	<script type="text/javascript">
		var angular_modules = ['ngMessages', 'ngAnimate', 'ngSanitize', 'ui.bootstrap', 'blockUI'];
		var pageData = { "Mobile": "@Model.Mobile", "ReturnUrl": "" };
	</script>
	@*@Scripts.Render("~/content/account.js")*@
	<script async src='@HappyRE.Core.Utils.Common.CDNUrl@Scripts.Url("~/content/account.js")' type="text/javascript"></script>
	@*<script async defer src="https://sdk.accountkit.com/@(Model.ACK.Locale)/sdk.js"></script>*@
}