@using Mogi.Core.Resources;
@model Mogi.Core.MapModels.FrontEnd.ResetPasswordViewModel
@{
	ViewBag.Title = Message.Msg_ResetPassword;
}
<div class="login row">
	<div class="verticalcenter">
		<div class="panel">
			@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(x => x.Mobile)
				@Html.HiddenFor(x => x.ShowCaptcha)

				<div class="f-header">
					<span class="title">@Message.Msg_ResetPassword</span>
				</div>
				<div class="panel-body">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								@Html.LabelFor(m => m.Mobile) : <strong>@Model.Mobile</strong>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								@Html.TextBoxFor(m => m.Password, new { maxlength = "50", @class = "text-control", placeholder = Html.DisplayPlaceHolderFor(m => m.Password), type = "password", autocomplete = "off" })
							</div>
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								@Html.TextBoxFor(m => m.ConfirmPassword, new { maxlength = "50", @class = "text-control", placeholder = Html.DisplayPlaceHolderFor(m => m.ConfirmPassword), type = "password", autocomplete = "off" })
							</div>
							@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="f-footer">
						<button type="submit" class="btn btn-primary">@Message.Msg_Update<i class="fa fa-angle-right"></i></button>
					</div>
				</div>
			}
		</div>
	</div>
</div>
@section styles {
	<link rel="preload" href="@Mogi.Core.Utils.Common.CDNUrl@Styles.Url("~/content/account.css")" as="style" onload="this.onload=null;this.rel='stylesheet'">
}
@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			setTimeout(function () { $('input[name="Password"]').focus() }, 1000);
		});
	</script>
}