@model HappyRE.Web.Models.ListViewModel
@using HappyRE.Core.Resources;
@{
    bool show_top = (Model.TopItems != null && Model.TopItems.Count > 0 && Model.Data != null && Model.Data.Count > 0);
}

@if (show_top == true)
{
    <div id="owl-top-service" class="owl-carousel list-view-carousel" mg-carousel options="CarouselOptions">
        @{Html.RenderPartial("Partials/_Top", Model.TopItems.Take(3).ToList());}
    </div>
            }

@foreach (var item in Model.Data)
{
    bool is_vip = item.IsVip();
    bool is_up = item.IsUP();
    string css = (is_vip ? "vip-item" : "");
    string cover1 = HappyRE.Core.Utils.Common.NoImageUrl;
    List<string> covers = item.GetCoverImages();
    int count = (covers == null ? 0 : covers.Count);
    if (count > 0)
    {
        cover1 = covers[0];
    }
    if (is_vip && string.IsNullOrEmpty(item.StickerName))
    {
        item.StickerName = "VIP";
    }

    <div class="list-view-item clearfix @css">
        <div class="list-view-image">
            <img src="@cover1" />
            @if (item.HasImage360 == true)
            {
                <img class="img-icon-360" src="~/content/images/icons/360.svg" />
            }
            @if (is_vip)
            {
                <span class="sticker">@item.StickerName</span>
            }
            @if (@item.TotalImage > 1) { 
            <span class="gallery-image-total"><i class="icon icon-camera"></i><span>@item.TotalImage</span></span>
            }
            <span class="list-view-price">@item.PriceView</span>
        </div>
        <div class="list-view-content">
            <div class="content">
                <div class="title2"><a href="@item.Url"><h2>@item.Title</h2></a></div>
                <div class="title1">@item.Address</div>
                <div class="room">
                    <span><i class="fa fa-bed"></i> @item.BedRooms</span>
                    <span class="bathroom"><i class="fa fa-bath"></i> @item.BathRooms</span>
                    <span><i class="icon icon-acreage"></i> @Convert.ToInt64(item.Area) m<sup>2</sup></span>
                </div>
                <div class="summary">
                    @item.Summary
                </div>
            </div>
            <span class="date">@Message.Detail_PublishDate_Label: @item.PublishView</span>
            <div class="list-view-agent">
                <div class="agent-content">
                    <img src="@item.AvatarUrl()" alt="" />
                    <span class="agent-name">@item.User_FullName</span>
					<div class="agent-mobile hidden-xs">
						<a gtm-event="link" gtm-cat="listing" gtm-act="mobile-show" href="javascript:void(0)" onclick="this.innerText='@item.User_Mobile'">@item.MobileView(3)</a>
					</div>
                </div>
                <div class="favorite visible-xs-block"><a gtm-event="link" gtm-cat="listing" gtm-act="mobile-call" href="tel:@item.User_Mobile"><i id="@item.PropertyId" class="fa fa-phone"></i></a></div>
                <div class="favorite" ng-class="{favorited: Favorite.items[@item.PropertyId]}" ng-click="Favorite.addRemove(@item.PropertyId,$event)" gtm-event="all" gtm-cat="listing" gtm-act="add-favorite"><i id="@item.PropertyId" class="fa fa-heart"></i></div>

            </div>
        </div>
        @if (is_up)
        {
            <div class="up-item"><i class="fa fa-star up-item-star"></i></div>
        }
    </div>
}