@using HappyRE.Core.Resources;
@model List<HappyRE.Core.MapModels.Search.PropertyItem>
@foreach (var item in Model)
{

    string cover1 = item.GetCoverImageUrl();
    <div class="property-top">
        <div class="property-top-image">
            <img src="@cover1" />
        </div>
        <div class="property-top-price">
            @item.PriceView
        </div>
        <div class="property-top-title">
            <a class="link-overlay" href="@item.Url">@item.Title</a>
        </div>
    </div>
    @*string cover1 = item.GetCoverImageUrl("/thumb-ls/");
    <div class="list-view-item top-item clearfix">
        <div class="list-view-image">
            <img src="@cover1" />
            <span class="gallery-image-total">
                <span><i class="icon icon-image"></i>@item.TotalImage</span>
                <span><i class="icon icon-clip"></i>@item.GetTotalVideo()</span>
                <span><i class="icon icon-plan"></i>@item.TotalFloorPlan</span>
            </span>
            <span class="list-view-price">@item.PriceView</span>
        </div>
        <div class="list-view-content">
            <div class="content">
                <div class="title2"><a href="@item.Url"><h2>@item.Title</h2></a></div>
                <div class="title1">@item.Address</div>
                <div class="room">
                    <span><i class="fa fa-bed"></i> @item.BedRooms</span>
                    <span class="bathroom"><i class="fa fa-bath"></i> @item.BathRooms</span>
                    <span><i class="icon icon-acreage"></i> @Convert.ToInt64(item.Area) m<sup>2</sup></span>
                </div>
                <div class="summary">@item.Summary</div>
            </div>
            <span class="date">@Message.Detail_PublishDate_Label: @item.PublishView</span>
            <div class="list-view-agent">
                <div class="agent-content">
                    <img src="@item.AvatarUrl()" alt="" />
                    <span class="agent-name">@item.User_FullName</span>
                    <span class="agent-mobile">@item.User_Mobile</span>
                </div>
                <div class="favorite"><i id="@item.PropertyId" class="fa fa-heart" ng-class="{isfavorited: Favorite.Saved(@item.PropertyId)}" ng-click="Favorite.AddRemove(@item.PropertyId)" gtm-event="all" gtm-cat="listing" gtm-act="add-favorite"></i></div>
            </div>
        </div>
    </div>*@
}