@model HappyRE.Core.Entities.Model.Ward
@using Kendo.Mvc.UI

<form name="ajaxform" id="ajaxform" method="POST">
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id, new { })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { required = "required" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @(Html.Kendo().ComboBoxFor(x=>x.CityId)
                          .Filter("contains")
                        .Placeholder("Tỉnh thành..")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)
                        .HtmlAttributes(new { required = "required" })
                        .DataSource(source => source.Read(read => read.Action("_Gets", "City"))))
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictId, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @(Html.Kendo().ComboBoxFor(x=>x.DistrictId)
                          .Filter("contains")
                        .Placeholder("Quận huyện..")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)
                        .HtmlAttributes(new { required = "required" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("_Gets", "District")
                                    .Data("baseDetailPopup.filterDistricts");
                            })
                            .ServerFiltering(true);
                        })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("CityId"))
                @Html.ValidationMessageFor(model => model.DistrictId)
            </div>
        </div>

        <div class="form-group action">
            <div class="col-md-offset-2">
                <button onclick="baseDetailPopup.close()" id="btnClose" type="button" class="btn btn-default btn-close">Đóng</button>
                <button onclick="baseDetailPopup.update('Ward')" id="btnUpdate" type="button" class="btn btn-primary btn-update">Cập nhật</button>
            </div>
        </div>
    </div>
</form>