@model HappyRE.Core.Entities.Banner
<div class="visible-lg visible-md banner-list-center widget banner-widget">
    <div class="banner-content">
        <a href="@Model.Url" target="@Model.Target" rel="@Model.Rel" gtm-cat="@Model.GA_Category" gtm-event="@Model.GA_Event" gtm-act="@Model.GA_Action">
            <img src="@Model.MediaUrl" style="width:100%" />
        </a>
    </div>
</div>
