@using Kendo.Mvc.UI
@model HappyRE.Core.Entities.UserProfileQuery

@{
    ViewBag.Title = "Danh sách người dùng";
}

<div class="filter-block">
    @Html.Kendo().TextBox().Name("_Keyword").HtmlAttributes(new { style = "width:400px", PlaceHolder = "Tên, email, số điện thoại.." })
    @(Html.Kendo().ComboBox().HtmlAttributes(new { style = "width:150px;" })
                          .Name("_cmbDepartment")
                          .Filter("contains")
                        .Placeholder("Phòng ban..")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)
                        .DataSource(source => source.Read(read => read.Action("_Gets", "Department"))))
    @(Html.Kendo().ComboBox().HtmlAttributes(new { style = "width:150px;" })
                          .Name("_cmbRoleGroup")
                          .Filter("contains")
                        .Placeholder("Nhóm quyền..")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)
                        .DataSource(source => source.Read(read => read.Action("_Gets", "RoleGroup"))))
    @(Html.Kendo().ComboBox().HtmlAttributes(new { style = "width:150px;" })
                          .Name("_cmbLevel")
                          .Filter("contains")
                        .Placeholder("Chức vụ..")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)
                        .DataSource(source => source.Read(read => read.Action("_Gets", "Syscode", new {tableId ="UserLevel"}))))
    @Html.Hidden("cmbUserStatus", 0)

    @Html.Kendo().Button().Name("btnSearchModal").Content("Tìm kiếm").Events(e => e.Click("userListing.onSearchModal"))
</div>

@(Html.Kendo().Grid<HappyRE.Core.Entities.ViewModel.UserProfileListViewModel>()
      .Name("_listModal")
      .Columns(columns =>
      {
          columns.Bound(e => e.UserName);
          columns.Bound(e => e.FullName);
          columns.Bound(e => e.Email);
          columns.Bound(e => e.Mobile);
          columns.Bound(e => e.DepartmentName);
          columns.Bound(e => e.LevelName);
          columns.Bound(e => e.Avatar).ClientTemplate("#=bizHelper.renderAvatar(Avatar)#").Title("Hình");
          columns.Bound(e => e.Id).Width(50).Title("").ClientTemplate("<button type='button' onclick='userListing.choose(#=Id#)' class='btn btn-default'>Chọn</button>");
      })
      .Pageable(x => x.PageSizes(new[] {10, 20, 50 }))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(10)
          .Model(model => model.Id(p => p.Id))
          .Events(events => events.Error("common.errorHandler"))
                  .Read(read => read.Action("Search", "User").Data("userListing.additionalDataModal"))
      )
)

<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $("#_listModal").data("kendoGrid").dataSource.read();
                return false;
            }
        });
    });
</script>